body{
    font-family: 'Lato', sans-serif;
}

@viewport{
  width:device-width;
  zoom:1.0;
}

@-ms-viewport{
  width:device-width;
}

/*logo*/
.logos{
  padding: 2.3vw 2.3vw 2.3vw 2.3vw;  

}

/*name*/
.persistname{
  position: absolute;
  top:2.3vw;
  left:6.9vw;
  font-size:.76666vw;

}

/*navigation bar*/
.topnav {
  position:absolute;
  top:3.45vw;
  right:1.5333333vw;
  overflow: hidden;
  background-color: white;
}

.topnav a {
  color: black;
  text-align: center;
  padding:1.226666666vw 1.38vw;
  font-size:1.15vw;
  text-decoration: none; 
}

.topnav a:hover {
  background-color: white;
  color: black;
  font-size: 1.38vw;
  font-weight:600;
}

.topnav a.active {
  background-color: white;
  color: black;
  font-size: 1.30333333vw;
  font-weight:800;
  
}

/*portfolio formatting*/
.row {
  position:absolute;
  left:40vw;
  }
  
  /* Create 2 equal columns that floats next to each other */
.column {
  float:left;
  width: 40%;
}
  

  
  /* Content */
.content {
  background-color: white;
  text-align: center;
  color:#0047AB;
  font-size:1.15vw;
  padding-bottom: 1.15vw;
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

